# Traitement, Visualisation et Analyse des données

### Déploiement de l’environnement

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import statsmodels.api as sm 
from statsmodels.formula.api import ols

### Sources de données : Manipulation

In [2]:
credits_immo_csv = pd.read_csv("Data_Vis/credit_immo.csv")
credits_immo_json = pd.read_json("Data_Vis/credit_immo.json")
credits_immo_xls = pd.read_excel("Data_Vis/credit_immo.xls")

### Création de DB formée de 6 lignes et 4 colonnes.

In [4]:
ar = np.array([[1.1, 2, np.nan, 4], [2.7, np.nan, 5.4, 7], [5.3, 9, 1.5, 15]])
df = pd.DataFrame(ar, index = ['a1', 'a2', 'a3'], columns = ["taux_de_ventes", "croissance_vente", "ratio_benefice", "ratio_perte"])
df

    taux_de_ventes  croissance_vente  ratio_benefice  ratio_perte
a1             1.1               2.0             NaN          4.0
a2             2.7               NaN             5.4          7.0
a3             5.3               9.0             1.5         15.0

In [5]:
df = df.fillna(0)
df

    taux_de_ventes  croissance_vente  ratio_benefice  ratio_perte
a1             1.1               2.0             0.0          4.0
a2             2.7               0.0             5.4          7.0
a3             5.3               9.0             1.5         15.0